@model TestIgnatov.Models.ViewModels.AddProduct

@{
    ViewData["Title"] = "Add Product";
}

@section Styles {
    <link rel="stylesheet" href="~/css/products/addForm.css" />
}
<div class="add-title">
Add Products
</div>
<form asp-action="Add">
    <div class="add-container">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="text" class="form-control" asp-for="Price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Stock</label>
            <input type="text" class="form-control" asp-for="Stock">
            <span asp-validation-for="Stock" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </div>
</form>